<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<!-- <string>com.smartnsoft.lib.asihttprequest</string>
				<string>com.smartnsoft.lib.flurry</string>
				<string>com.smartnsoft.lib.flurrylocation</string>
				<string>com.smartnsoft.lib.gantracker</string>
				<string>com.smartnsoft.lib.reachability</string>
				<string>com.smartnsoft.framework</string> -->
	</array>
	<key>CFBundleIdentifier</key>
	<string></string>
	
	<key>Description</key>
	<string>This template provides a starting point for Smart&amp;Soft useful libraries.</string>
	<key>Identifier</key>
	<string>com.smartnsoft.importedclasses</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	
	<!-- ******************************************************************* -->
	<!-- 							DEFINITONS								 -->
	<!-- ******************************************************************* -->
	<key>Definitions</key>
	<dict>
		<!-- ******************************************************************* -->
		<!-- 								README								 -->
		<!-- ******************************************************************* -->
		<key>ImportedClasses/README.txt</key>
		<dict>
			<key>Group</key>
			<string>ImportedClasses</string>
			<key>Path</key>
			<string>README.txt</string>
		</dict>
		
		<!-- ******************************************************************* -->
		<!-- 								FLURRY								 -->
		<!-- ******************************************************************* -->
		<key>ImportedClasses/LibFlurry/FlurryAdDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>FlurryLib</string>
			</array>
			<key>Path</key>
			<string>FlurryLib/FlurryAdDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>ImportedClasses/LibFlurry/FlurryAPI.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>FlurryLib</string>
			</array>
			<key>Path</key>
			<string>FlurryLib/FlurryAPI.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>ImportedClasses/LibFlurry/libFlurry.a</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>FlurryLib</string>
			</array>
			<key>Path</key>
			<string>FlurryLib/libFlurry.a</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		
		<!-- ******************************************************************* -->
		<!-- 						FLURRY	LOCATION							 -->
		<!-- ******************************************************************* -->
		<key>ImportedClasses/LibFlurryLocation/FlurryLocationAdDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>FlurryLibWithLocation</string>
			</array>
			<key>Path</key>
			<string>FlurryLibWithLocation/FlurryLibWithLocationFlurryAdDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>ImportedClasses/LibFlurryLocation/FlurryLocationAPI.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>FlurryLibWithLocation</string>
			</array>
			<key>Path</key>
			<string>FlurryLibWithLocation/FlurryAPI.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>ImportedClasses/LibFlurryLocation/libFlurryWithLocation.a</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>FlurryLibWithLocation</string>
			</array>
			<key>Path</key>
			<string>FlurryLibWithLocation/libFlurryWithLocation.a</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		
		<!-- ******************************************************************* -->
		<!-- 							GAN TRACKER								 -->
		<!-- ******************************************************************* -->
		<key>ImportedClasses/GAN/GANTracker.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>GANTracker</string>
			</array>
			<key>Path</key>
			<string>GANTracker/GANTracker.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		
		<!-- ******************************************************************* -->
		<!-- 						REACHABILITY								 -->
		<!-- ******************************************************************* -->
		<key>ImportedClasses/Reachability/Reachability.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>Reachability</string>
			</array>
			<key>Path</key>
			<string>Reachability/Reachability.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>ImportedClasses/Reachability/Reachability.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>Reachability</string>
			</array>
			<key>Path</key>
			<string>Reachability/Reachability.m</string>
		</dict>
		
		
		<!-- ******************************************************************* -->
		<!-- 								ASI HTTP							 -->
		<!-- ******************************************************************* -->
		<key>ImportedClasses/ASIHTTPRequest/ASIAuthenticationDialog.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>ASIHTTPRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/ASIAuthenticationDialog.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>ImportedClasses/ASIHTTPRequest/ASIAuthenticationDialog.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>ASIHTTPRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/ASIAuthenticationDialog.m</string>
		</dict>
		<key>ImportedClasses/ASIHTTPRequest/ASICacheDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>ASIHTTPRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/ASICacheDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>ImportedClasses/ASIHTTPRequest/ASIDataCompressor.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>ASIHTTPRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/ASIDataCompressor.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>ImportedClasses/ASIHTTPRequest/ASIDataCompressor.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>ASIHTTPRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/ASIDataCompressor.m</string>
		</dict>
		<key>ImportedClasses/ASIHTTPRequest/ASIDataDecompressor.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>ASIHTTPRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/ASIDataDecompressor.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>ImportedClasses/ASIHTTPRequest/ASIDataDecompressor.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>ASIHTTPRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/ASIDataDecompressor.m</string>
		</dict>
		<key>ImportedClasses/ASIHTTPRequest/ASIDownloadCache.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>ASIHTTPRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/ASIDownloadCache.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>ImportedClasses/ASIHTTPRequest/ASIDownloadCache.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>ASIHTTPRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/ASIDownloadCache.m</string>
		</dict>
		<key>ImportedClasses/ASIHTTPRequest/ASIFormDataRequest.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>ASIHTTPRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/ASIFormDataRequest.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>ImportedClasses/ASIHTTPRequest/ASIFormDataRequest.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>ASIHTTPRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/ASIFormDataRequest.m</string>
		</dict>
		<key>ImportedClasses/ASIHTTPRequest/ASIHTTPRequest.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>ASIHTTPRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/ASIHTTPRequest.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>ImportedClasses/ASIHTTPRequest/ASIHTTPRequest.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>ASIHTTPRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/ASIHTTPRequest.m</string>
		</dict>
		<key>ImportedClasses/ASIHTTPRequest/ASIHTTPRequestConfig.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>ASIHTTPRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/ASIHTTPRequestConfig.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>ImportedClasses/ASIHTTPRequest/ASIHTTPRequestDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>ASIHTTPRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/ASIHTTPRequestDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>ImportedClasses/ASIHTTPRequest/ASIInputStream.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>ASIHTTPRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/ASIInputStream.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>ImportedClasses/ASIHTTPRequest/ASIInputStream.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>ASIHTTPRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/ASIInputStream.m</string>
		</dict>
		<key>ImportedClasses/ASIHTTPRequest/ASINetworkQueue.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>ASIHTTPRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/ASINetworkQueue.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>ImportedClasses/ASIHTTPRequest/ASINetworkQueue.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>ASIHTTPRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/ASINetworkQueue.m</string>
		</dict>
		<key>ImportedClasses/ASIHTTPRequest/ASIProgressDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ImportedClasses</string>
				<string>ASIHTTPRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/ASIProgressDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		
		<!-- ******************************************************************* -->
		<!-- 							LIBRARIES								 -->
		<!-- ******************************************************************* -->
		<key>Libraries/libGoogleAnalytics.a</key>
		<dict>
			<key>Group</key>
			<string>Libraries</string>
			<key>Path</key>
			<string>Libraries/libGoogleAnalytics.a</string>
		</dict>
		
		<!-- ******************************************************************* -->
  	<!-- 								FLURRY								 -->
  	<!-- ******************************************************************* -->
  	<key>ImportedClasses/JSON/JSON.h</key>
  	<dict>
  		<key>Group</key>
  		<array>
  			<string>ImportedClasses</string>
  			<string>JSON</string>
  		</array>
  		<key>Path</key>
  		<string>JSON/JSON.h</string>
  		<key>TargetIndices</key>
  		<array/>
  	</dict>
  	<key>ImportedClasses/JSON/NSObject+SBJSON.h</key>
  	<dict>
  		<key>Group</key>
  		<array>
  			<string>ImportedClasses</string>
  			<string>JSON</string>
  		</array>
  		<key>Path</key>
  		<string>JSON/NSObject+SBJSON.h</string>
  		<key>TargetIndices</key>
  		<array/>
  	</dict>
  	<key>ImportedClasses/JSON/NSObject+SBJSON.m</key>
  	<dict>
  		<key>Group</key>
  		<array>
  			<string>ImportedClasses</string>
  			<string>JSON</string>
  		</array>
  		<key>Path</key>
  		<string>JSON/NSObject+SBJSON.m</string>
  	</dict>
  	<key>ImportedClasses/JSON/NSString+SBJSON.h</key>
  	<dict>
  		<key>Group</key>
  		<array>
  			<string>ImportedClasses</string>
  			<string>JSON</string>
  		</array>
  		<key>Path</key>
  		<string>JSON/NSString+SBJSON.h</string>
  		<key>TargetIndices</key>
  		<array/>
  	</dict>
  	<key>ImportedClasses/JSON/NSString+SBJSON.m</key>
  	<dict>
  		<key>Group</key>
  		<array>
  			<string>ImportedClasses</string>
  			<string>JSON</string>
  		</array>
  		<key>Path</key>
  		<string>JSON/NSString+SBJSON.m</string>
  	</dict>
  	<key>ImportedClasses/JSON/SBJSON.h</key>
  	<dict>
  		<key>Group</key>
  		<array>
  			<string>ImportedClasses</string>
  			<string>JSON</string>
  		</array>
  		<key>Path</key>
  		<string>JSON/SBJSON.h</string>
  		<key>TargetIndices</key>
  		<array/>
  	</dict>
  	<key>ImportedClasses/JSON/SBJSON.m</key>
  	<dict>
  		<key>Group</key>
  		<array>
  			<string>ImportedClasses</string>
  			<string>JSON</string>
  		</array>
  		<key>Path</key>
  		<string>JSON/SBJSON.m</string>
  	</dict>
  	<key>ImportedClasses/JSON/SBJsonBase.h</key>
  	<dict>
  		<key>Group</key>
  		<array>
  			<string>ImportedClasses</string>
  			<string>JSON</string>
  		</array>
  		<key>Path</key>
  		<string>JSON/SBJsonBase.h</string>
  		<key>TargetIndices</key>
  		<array/>
  	</dict>
  	<key>ImportedClasses/JSON/SBJsonBase.m</key>
  	<dict>
  		<key>Group</key>
  		<array>
  			<string>ImportedClasses</string>
  			<string>JSON</string>
  		</array>
  		<key>Path</key>
  		<string>JSON/SBJsonBase.m</string>
  	</dict>
  	<key>ImportedClasses/JSON/SBJsonParser.h</key>
  	<dict>
  		<key>Group</key>
  		<array>
  			<string>ImportedClasses</string>
  			<string>JSON</string>
  		</array>
  		<key>Path</key>
  		<string>JSON/SBJsonParser.h</string>
  		<key>TargetIndices</key>
  		<array/>
  	</dict>
  	<key>ImportedClasses/JSON/SBJsonParser.m</key>
  	<dict>
  		<key>Group</key>
  		<array>
  			<string>ImportedClasses</string>
  			<string>JSON</string>
  		</array>
  		<key>Path</key>
  		<string>JSON/SBJsonParser.m</string>
  	</dict>
  	<key>ImportedClasses/JSON/SBJsonWriter.h</key>
  	<dict>
  		<key>Group</key>
  		<array>
  			<string>ImportedClasses</string>
  			<string>JSON</string>
  		</array>
  		<key>Path</key>
  		<string>JSON/SBJsonWriter.h</string>
  		<key>TargetIndices</key>
  		<array/>
  	</dict>
  	<key>ImportedClasses/JSON/SBJsonWriter.m</key>
  	<dict>
  		<key>Group</key>
  		<array>
  			<string>ImportedClasses</string>
  			<string>JSON</string>
  		</array>
  		<key>Path</key>
  		<string>JSON/SBJsonWriter.m</string>
  	</dict>
  	
  			
	</dict>
	
  	

	
	<!-- ******************************************************************* -->
	<!-- 								NODES								 -->
	<!-- ******************************************************************* -->
	<key>Nodes</key>
	<array>
		<string>ImportedClasses/README.txt</string>
		
		<!-- 						LibFlurry					 -->
	  <!-- <string>ImportedClasses/LibFlurry/FlurryAdDelegate.h</string>
	   <string>ImportedClasses/LibFlurry/FlurryAPI.h</string>
	   <string>ImportedClasses/LibFlurry/libFlurry.a</string> -->
		
		<!-- 					LibFlurryLocation				 -->
	  <!-- <string>ImportedClasses/LibFlurryLocation/FlurryLocationAdDelegate.h</string>
	   <string>ImportedClasses/LibFlurryLocation/FlurryLocationAPI.h</string>
	   <string>ImportedClasses/LibFlurryLocation/libFlurryWithLocation.a</string> -->
		
		<!-- 				      GAN TRACKER					 -->
    <!-- <string>ImportedClasses/GAN/GANTracker.h</string> -->
		
		<!-- 				      JSON					 -->
	  <string>ImportedClasses/JSON/JSON.h</string>
    <string>ImportedClasses/JSON/NSObject+SBJSON.h</string>
    <string>ImportedClasses/JSON/NSObject+SBJSON.m</string>
    <string>ImportedClasses/JSON/NSString+SBJSON.h</string>
    <string>ImportedClasses/JSON/NSString+SBJSON.m</string>
    <string>ImportedClasses/JSON/SBJSON.h</string>
    <string>ImportedClasses/JSON/SBJSON.m</string>
    <string>ImportedClasses/JSON/SBJsonBase.h</string>
    <string>ImportedClasses/JSON/SBJsonBase.m</string>
    <string>ImportedClasses/JSON/SBJsonParser.h</string>
    <string>ImportedClasses/JSON/SBJsonParser.m</string>
    <string>ImportedClasses/JSON/SBJsonWriter.h</string>
    <string>ImportedClasses/JSON/SBJsonWriter.m</string>
		
		<!-- 				     Reachability					 -->
		<!-- <string>ImportedClasses/Reachability/Reachability.h</string>
		<string>ImportedClasses/Reachability/Reachability.m</string> -->
		
		<!-- 				     ASIHTTPRequest					 -->
		<!-- <string>ImportedClasses/ASIHTTPRequest/ASIAuthenticationDialog.h</string>
		<string>ImportedClasses/ASIHTTPRequest/ASIAuthenticationDialog.m</string>
		<string>ImportedClasses/ASIHTTPRequest/ASICacheDelegate.h</string>
		<string>ImportedClasses/ASIHTTPRequest/ASIDataCompressor.h</string>
		<string>ImportedClasses/ASIHTTPRequest/ASIDataCompressor.m</string>
		<string>ImportedClasses/ASIHTTPRequest/ASIDataDecompressor.h</string>
		<string>ImportedClasses/ASIHTTPRequest/ASIDataDecompressor.m</string>
		<string>ImportedClasses/ASIHTTPRequest/ASIDownloadCache.h</string>
		<string>ImportedClasses/ASIHTTPRequest/ASIDownloadCache.m</string>
		<string>ImportedClasses/ASIHTTPRequest/ASIFormDataRequest.h</string>
		<string>ImportedClasses/ASIHTTPRequest/ASIFormDataRequest.m</string>
		<string>ImportedClasses/ASIHTTPRequest/ASIHTTPRequest.h</string>
		<string>ImportedClasses/ASIHTTPRequest/ASIHTTPRequest.m</string>
		<string>ImportedClasses/ASIHTTPRequest/ASIHTTPRequestConfig.h</string>
		<string>ImportedClasses/ASIHTTPRequest/ASIHTTPRequestDelegate.h</string>
		<string>ImportedClasses/ASIHTTPRequest/ASIInputStream.h</string>
		<string>ImportedClasses/ASIHTTPRequest/ASIInputStream.m</string>
		<string>ImportedClasses/ASIHTTPRequest/ASINetworkQueue.h</string>
		<string>ImportedClasses/ASIHTTPRequest/ASINetworkQueue.m</string>
		<string>ImportedClasses/ASIHTTPRequest/ASIProgressDelegate.h</string> -->
		
		<!-- 				      Libraries						 -->
		<string>Libraries/libGoogleAnalytics.a</string>
		
		
		
	</array>
</dict>
</plist>