<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SnSFramework.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ios4me (Device).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ios4me (Framework).xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ios4me (Simulator).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>047C403413D58B340002EF65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047C404113D58B710002EF65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047C409313D58FEA0002EF65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04ADD96714EC06CD00C2087E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04ADD96C14EC070100C2087E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04ADD9C414EC072500C2087E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04ADDA2414ED195500C2087E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04ADDA7C14ED196400C2087E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04ADDAD414ED197100C2087E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AAC07D0554694100DB518D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
