<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.smartnsoft.base</string>
	</array>
	<key>Identifier</key>
	<string>com.smartnsoft.bundlebase</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>#Automatic Tagging of AppStore builds					
#This is done for tagging the ios4me framework each time a new App Store build is made
#tag-framework.sh</string>
				</dict>
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
				<string>YES</string>
				<key>GCC_PREFIX_HEADER</key>
				<string>___PACKAGENAME___/___PROJECTNAMEASIDENTIFIER___-Prefix.pch</string>
				<key>INFOPLIST_FILE</key>
				<string>___PACKAGENAME___/Resources/___PROJECTNAMEASIDENTIFIER___-Info.plist</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
