<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CounterpartTemplateFile</key>
	<string>___FILEBASENAME___.h</string>
	<key>DefaultCompletionName</key>
	<string>File</string>
	<key>Description</key>
	<string>An Objective-C class file, with an optional header which derives from a SnSTableViewRefreshController.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>class.m</string>
	<key>Summary</key>
	<string>An Objective-C class file, with an optional header which derives from a SnSTableViewRefreshController.</string>
</dict>
</plist>
